@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans);
/* HEADER section */
.logo {
    width: 90px;
}

header h1 {
    color: #c9c883;
    font-family: 'Satisy', cursive;
    margin-top: 20px;
}

.nav-pills>li.active>a {
    color: #5c433f;
    background-color: #eeddcd;
}

.nav-pills>li.active>a:hover,.product button:hover, footer a:hover {
    background-color: #edf1f4;
    color: #5c433f;
}

nav li {
    font-size: 15px;
}

.jumbotron {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    color: #fff;
}

.product, aside>ul>li>a {
    background-color: #eeddcd;
    border-radius: 5%;
    border: 5px solid rgb(252,252,252);
}

footer {
    background-color: #eeddcd;
    border-style: solid;
    border-color: #d19256;
    border-radius: 5px;
}
